.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rdata
vignettes/logistic/*.pdf
vignettes/logistic/*.html
vignettes/logistic/*/*.html
vignettes/poisson/*.pdf
vignettes/poisson/*.html
vignettes/poisson/*/*.html
